extends layout

block content
  p To request for an image got to /image/(image name).(image extension)
  p Different sizes can be queried from /image/(image name).(image extension)?size=(image size)x(image size)
